<div class="modal-header text-center">
    <h3 class="modal-title" id="exampleModalLabel">Add Company</h3>
    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="modal-body employeeDocImg">
        <div class="row">
            <div class="col-6 mb-3">
                <img *ngIf="fileData || editData" src="data:image/png;base64,{{fileData ? fileData : editData?.logo}}"
                    class="profile-pic" style="width: 115px;height: 115px;" alt="profile"
                    (error)="errorHandler($event)" />
            </div>
            <div class="col-6 mb-3">
                <div class="form-group">
                    <label for="file">Choose Logo</label>
                    <input type="file" id="file" class="form-control" accept=".png, .jpg, .jpeg"
                        (change)="onFileSelect($event)" />
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-group">
                    <label class="require">Company Name</label>
                    <input formControlName='name' type="text" class="form-control"
                        [ngClass]="{'is-invalid': addForm.get('name')?.invalid && addForm.get('name')?.touched}"
                        required>
                    <div class="invalid-feedback">Company Name is Required!</div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label class="require">Buisness Nature</label>
                    <ng-select class="custom" [clearable]="false" formControlName='category' [loading]=loading
                        [multiple]="true" required [style]="addForm.get('category')?.invalid &&(addForm.get('category')?.dirty || addForm.get('category')?.touched)?
                        'border-color: #d9534f':''">
                        <ng-option *ngFor="let subCat of categories?.response" [value]="subCat?.id">{{subCat?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="form-group">
                    <label>Country</label>
                    <ng-select class="custom" [clearable]="false" formControlName='country' [loading]=loading
                        (change)="getAllState($event)">
                        <ng-option value="">Please Select</ng-option>
                        <ng-option *ngFor="let country of countries?.response" [value]="country?.id">{{country?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="form-group">
                    <label>State</label>
                    <ng-select class="custom" [clearable]="false" formControlName='state' [loading]=loading
                        (change)="getAllCity($event)">
                        <ng-option value="">Please Select</ng-option>
                        <ng-option *ngFor="let state of states" [value]="state?.id">{{state?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-6 mb-3">
                <div class="form-group">
                    <label>City</label>
                    <ng-select class="custom" [clearable]="false" formControlName='city' [loading]=loading>
                        <ng-option value="">Please Select</ng-option>
                        <ng-option *ngFor="let city of cities" [value]="city?.id">{{city?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-group">
                    <label>Address</label>
                    <input formControlName='address' type="text" class="form-control">
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-group">
                    <label>Office Address</label>
                    <input formControlName='officeAddress' type="text" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>Landline</label>
                    <input formControlName='landline' type="text" class="form-control">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
                <div formArrayName="phone" *ngFor="let phone of phoneNumbers.controls; let phoneGroup = index;">
                    <div class="form-group" [formGroupName]="phoneGroup">
                        <label class="custom-lable require">Mobile No</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName='number'
                                (input)="onlyInteger($event)" minlength="11" maxlength="14"
                                [ngClass]="{'is-invalid': phone.get('number')?.invalid && phone.get('number')?.touched}" />
                            <div class="input-group-append btn-group">
                                <button type="button" class="btn btn-dark btn-icon waves-effect" title="Add"
                                    (click)="addPhoneNumber()">
                                    <i class="ri-add-fill"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"
                                    title="Remove" (click)="removePhoneNumber(phoneGroup)">
                                    <i class="ri-subtract-line"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>Authorized Person</label>
                    <input formControlName='authorizedPerson' type="text" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>Email</label>
                    <input formControlName='email' type="text" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>NTN Number</label>
                    <input formControlName='ntnNumber' type="number" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>GST Number</label>
                    <input formControlName='gstNumber' type="number" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>SECP Number</label>
                    <input formControlName='secpNumber' type="number" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>Login</label>
                    <input formControlName='loginId' type="text" class="form-control">
                </div>
            </div>
            <div class="col-6 mb-2">
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName='loginPassword' type="password" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark btn-label waves-effect waves-light rounded-pill"><i
                class="ri-check-double-line label-icon align-middle rounded-pill fs-16 me-2"></i> Save Changes</button>
    </div>
</form>