<div class="filter-section mb-4">
    <div class="row">
      <span>
        <div class="dropdown top-button ">
          <button type="button" id="dropdownMenuButton" class="btn btn-light rounded-circle" (click)="openAddStatus()">
            <i class="fa fa-plus"></i></button>
        </div>
      </span>
    </div>
  </div>
  <div class="items-section">
    <div class="main-body-content">
      <div class="table-responsive-sm">
        <table id="sailorTable" width="100%" class="table table-striped table-hover align-middle"
          style="border: 1px solid #dfe6e9;">
          <thead class="light-background" style="border-bottom: 0px;">
            <tr>
              <th class="w-25">Action</th>
              <th class="text-left">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of getResult?.response">
              <td>
                <div class="dropdown">
                  <button class="dropbtn bg-transparent">....</button>
                  <div class="dropdown-content">
                    <a (click)="openEdit(data.id, data.name, data.activeInd)">Edit</a>
                    <a (click)="openDelete(data.id)">Delete</a>
                  </div>
                </div>
              </td>
              <td>{{data.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>