<div class="modal-header text-center">
    <h3 class="modal-title" id="exampleModalLabel">Add/Edit Rights</h3>
    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="addRight" (ngSubmit)="onRightSubmit()">
    <div class="modal-body employeeDocImg">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label class="custom-lable">Title</label>
                    <input formControlName='title' type="text" class="form-control"
                        [ngClass]="{'is-invalid': addRight.get('title').invalid && addRight.get('title').touched}"
                        required>
                    <div class="invalid-feedback">Title is Required!</div>
                </div>
            </div>
            <div class="col-8 mb-3">
                <div class="form-group">
                    <label class="custom-lable">Parent Menu</label>
                    <ng-select [clearable]="false" class="custom" [multiple]="false" formControlName="parent"
                        (change)="getParentRightSortNbr($event)">
                        <!--            <ng-option value="">All</ng-option>-->
                        <ng-option value="">Choose</ng-option>
                        <ng-option *ngFor="let parent of allParents?.response" [value]="parent.id">
                            {{parent.name}}
                        </ng-option>
                    </ng-select>
                    <div class="invalid-feedback">Parent Menu is Required!</div>
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="form-group">
                    <label class="custom-lable">Sort Order</label>
                    <input formControlName='sort' type="text" class="form-control"
                        [ngClass]="{'is-invalid': addRight.get('sort').invalid && addRight.get('sort').touched}"
                        required>
                    <div class="invalid-feedback">Sort Order is Required!</div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label class="custom-lable">Menu URL</label>
                    <input formControlName='url' type="text" class="form-control"
                        [ngClass]="{'is-invalid': addRight.get('url').invalid && addRight.get('url').touched}" required>
                    <div class="invalid-feedback">Menu URL is Required!</div>
                </div>
            </div>
            <div class="col-6 account-access p-2 d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="validCheck" formControlName="activeInd">
                    <label class="form-check-label" for="validCheck">
                        <h4>Active</h4>
                    </label>
                </div>
            </div>
            <div class="col-6 account-access p-2 d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" formControlName="displayInd">
                    <label class="form-check-label" for="invalidCheck">
                        <h4>Display</h4>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark btn-label waves-effect waves-light rounded-pill"><i class="ri-check-double-line label-icon align-middle rounded-pill fs-16 me-2"></i> Save Changes</button>
    </div>
</form>