<div class="modal-header text-center">
    <h3 class="modal-title" id="exampleModalLabel">Add Sub Category</h3>
    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="modal-body employeeDocImg">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="form-group">
                    <label class="require">Category</label>
                    <ng-select class="custom" [clearable]="false" required formControlName='parentId' [loading]=loading
                        [style]="addForm.get('parentId')?.invalid &&(addForm.get('parentId')?.dirty || addForm.get('parentId')?.touched)?
                                                    'border-color: #d9534f':''">
                        <ng-option value="">Please Select</ng-option>
                        <ng-option *ngFor="let c of categories?.response" [value]="c?.id">{{c?.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="form-group">
                    <label class="require">Sub Category Name</label>
                    <input formControlName='title' type="text" class="form-control"
                        [ngClass]="{'is-invalid': addForm.get('title')?.invalid && addForm.get('title')?.touched}"
                        required>
                    <div class="invalid-feedback">Sub Category Name is Required!</div>
                </div>
            </div>
            <div class="col-12 mb-1 d-flex justify-content-end align-item-right">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <span class="input-group-text pointer" (click)="addProductType()"><i
                            class="fa fas fa-plus"></i> <span class="ms-2"> Add Type</span></span>
                </div>
            </div>
            <div class="col-12 mb-2" formArrayName="productType"
                *ngFor="let type of getProductType.controls; let typeIndex = index;">
                <div [formGroupName]="typeIndex">
                    <div class="row">
                        <div class="col-7 mb-1">
                            <div class="form-group">
                                <label>Product Type</label>
                                <input formControlName='title' type="text" class="form-control" maxlength="32"
                                    aria-describedby="" />
                            </div>
                        </div>
                        <div class="col-3 mb-1">
                            <div class="form-group">
                                <label>Code</label>
                                <input formControlName='code' type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-auto mb-1">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <span class="input-group-text pointer" (click)="removeProductType(typeIndex)"><i
                                        class="fa fas fa-minus"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-9 col-3 account-access p-2 d-flex">
                <h3>Active</h3>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" formControlName="activeStatus">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btnedge">Save changes</button>
    </div>
</form>